<div class="container-fluid">
  <div class="row">
    <!-- Prueba -->
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th class="h4">#</th>
            <th class="h4">Name</th>
            <th class="h4">Channel</th>
            <th class="h4">Season</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-secondary" *ngFor="let c of series">
            <td>{{c.id}}</td>
            <td><a href="#" (click)="selectSerie(c)">{{ c.name }}</a></td>
            <td>{{c.channel}}</td>
            <td>{{c.seasons}}</td>
          </tr>
        </tbody>
      </table>
      <p>Seasons Average: {{ promedio }}</p>
    </div>

    
    <div class="col-md-6 d-flex justify-content-center align-items-start">
      <div *ngIf="selectedSerie" class="card" style="width: 18rem;">
        <img [src]="selectedSerie.poster" class="card-img-top" [alt]="selectedSerie.name">
        <div class="card-body">
          <h5 class="card-title">{{ selectedSerie.name }}</h5>
          <p class="card-text">{{ selectedSerie.description }}</p>
          <a [href]="selectedSerie.webpage" class="btn btn-primary" target="_blank">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>